[global_config]
  geometry_hinting = True
  enabled_plugins = LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, CurrDirOpen
[keybindings]
  split_auto = <Shift><Alt>a
  split_horiz = <Alt>underscore
  split_vert = <Alt>plus
[profiles]
  [[default]]
    background_color = "#1A1B26"
    background_darkness = 0.97
    font = CommitMono Nerd Font Mono 12
    foreground_color = "#C0CAF5"
    scrollback_infinite = True
    palette = "#414868:#f7768e:#9ece6a:#e0af68:#7aa2f7:#bb9af7:#7dcfff:#a9b1d6:#414868:#f7768e:#9ece6a:#e0af68:#7aa2f7:#bb9af7:#7dcfff:#c0caf5"
    use_system_font = False
    title_transmit_bg_color = "#45475a"
    title_receive_bg_color = "#6b94d6"
    title_inactive_fg_color = "#5e5c64"
    title_inactive_bg_color = "#241f31"
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 26:23
      maximised = False
      fullscreen = False
      size = 1555, 901
      title = dg@winds:~
      last_active_term = 08d9e3ab-7974-4653-8e31-811efaba602c
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = 08d9e3ab-7974-4653-8e31-811efaba602c
[plugins]
