[global_config]
  geometry_hinting = True
  enabled_plugins = LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, CurrDirOpen
[keybindings]
  split_auto = <Shift><Alt>a
  split_horiz = <Alt>underscore
  split_vert = <Alt>plus
[profiles]
  [[default]]
    background_color = "#1A1B26"
    background_darkness = 0.97
    font = JetBrainsMonoNL Nerd Font 13
    foreground_color = "#C0CAF5"
    scrollback_infinite = True
    palette = "#414868:#F7768E:#9ECE6A:#E0AF68:#7AA2F7:#BB9AF7:#7DCFFF:#A9B1D6:#414868:#F7768E:#9ECE6A:#E0AF68:#7AA2F7:#BB9AF7:#7DCFFF:#C0CAF5"
    use_system_font = False
    title_hide_sizetext = True
    title_transmit_bg_color = "#1e1e1e"
    title_receive_bg_color = "#6b94d6"
    title_inactive_fg_color = "#3d3846"
    title_inactive_bg_color = "#191919"
    title_use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      size = 1200, 800
      position = 200:200
      maximised = False
      fullscreen = False
      title = dg@aether:~
      last_active_term = 08d9e3ab-7974-4653-8e31-811efaba602c
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = 08d9e3ab-7974-4653-8e31-811efaba602c
[plugins]
