[global_config]
  geometry_hinting = True
  enabled_plugins = LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, CurrDirOpen
[keybindings]
  split_auto = <Shift><Alt>a
  split_horiz = <Alt>underscore
  split_vert = <Alt>plus
[profiles]
  [[default]]
    background_color = "#100F0F"
    background_darkness = 0.97
    background_image = /home/dg/Pictures/Wallpapers-local/nord-background/ign-0007.png
    font = NotoMono Nerd Font Mono 13
    foreground_color = "#878580"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#282726:#AF3029:#66800B:#AD8301:#205EA6:#A02F6F:#24837B:#E6E4D9:#343331:#D14D41:#879A39:#D0A215:#4385BE:#CE5D97:#3AA99F:#FFFCF0"
    use_system_font = False
    bold_is_bright = True
    title_hide_sizetext = True
    title_transmit_bg_color = "#1e1e1e"
    title_receive_bg_color = "#6b94d6"
    title_inactive_fg_color = "#3d3846"
    title_inactive_bg_color = "#191919"
    title_use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      order = 0
      size = 1200, 800
      position = 200:200
      maximised = False
      fullscreen = False
      title = Terminator
      last_active_term = 08d9e3ab-7974-4653-8e31-811efaba602c
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = 08d9e3ab-7974-4653-8e31-811efaba602c
[plugins]
